<ion-view view-title="Discover Freelancers for '{{clientProject.title}}'">
  <ion-content class="padding">
    <td-cards>
      <td-card ng-repeat="freelancer in freelancers" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft(freelancer)" on-swipe-right="cardSwipedRight(freelancer)" ng-show="$index ===0">
        <div class="list card">


          <div class="item item-avatar">
            <img gravatar-src="freelancer.email" gravatar-size="40">
            <h2>{{freelancer.firstName}} {{freelancer.lastName}}</h2>
            <p>{{freelancer.title}}

              <span class="badge badge-calm">{{freelancer.hourlyRate}} $/hr</span>
          </div>

          <div class="item item-body">
            <p>
              {{freelancer.aboutMe}}
            </p>
            <p>
              Pro Website : {{freelancer.website}}
            </p>
            <p>
              <a href="#" class="subdued" ng-repeat="skill in freelancer.skills">{{skill}}</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href ng-click="likeClicked($index)">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href ng-click="dislikeClicked($index)">
              <i class="icon ion-thumbsdown"></i>
              Not interested
            </a>
          </div>

        </div>
      </td-card>
    </td-cards>

    <div class="card" ng-show="freelancers.length === 0 && !searching">
      <div class="item item-text-wrap item-royal">
        There aren't any new freelancers available right now, please try again later ...
      </div>
    </div>

  </ion-content>
</ion-view>
